/* Media queries allow us to modify our style depending on particular parameters like screen width or device type  */
a{
    margin: 0 2px;
}
h1{
    text-align: center;
    font-size: 5em;
    font-weight: lighter;
}
nav{
    font-size: 1.5em;
}
@media(min-width: 600px) and (max-width: 800px){
    h1{


        background-color: purple;
    }
}

nav{
    display: flex;
    justify-content: space-between;
}

ul,li{
    display: inline;
    margin: 0;  
    padding: 0;
}
ul{
    border: 1px solid red;
    flex: 1;
    max-width: 50%;
    display: flex;
    justify-content: space-evenly;
}