section{
    width: 80%;
    height: 800px;
    /* background-image:url("https://plus.unsplash.com/premium_photo-1710408904578-dfc6ff8b3b68?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: cover;
    background-position: bottom; */

    background: url("https://plus.unsplash.com/premium_photo-1710408904578-dfc6ff8b3b68?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover ;

    /* bg size should be just after bg position with a slash  */
    
    margin: 0 auto;
}

h1{
    font-size: 100px;
    color: white;
}
body{
    font-family: Imbue, sans-serif;
}