body{
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: rgb(11, 11, 72);
}

button{
    background: none;
    color: #ffa260;
    border: 2px solid;
    padding: 1em 2em;
    font-size: 1em;
    transition: all 0.25s;
}
button:hover{
    border-color: yellow;
    color: aliceblue;
    box-shadow: 0 0.5em 0.5em -0.4em yellow; /* offset-x | offset-y | blur-radius | spread-radius | color*/
    transform: translateY(-0.25em);
    cursor: pointer;

}