/* rgba(red,green,blue,alpha(for transperacy)) */

section{
    width: 500px;
    height: 500px;
    background-color: magenta;
}

#rgba{
    width: 50%;
    height: 50%;
    background-color: rgba(255,255,255,0.5);
    padding: 25%;
}

#opacity{
    width: 50%;
    height: 50%;
    background-color: yellow;
    opacity: 0.7;
    padding: 25% 0 0 1% ;
    /* opacity is opposite of alpha */
}