<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <!--IMPORTANT !!-->
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <main>
      <div id="list-view">
        <ul>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-tonin-rocodromo.jpg"
              alt=""
            />
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-tonin-rocodromo.jpg"
              alt=""
            />
            <div class="name">Roc칩dromo</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-rapel-sarcofago.jpg"
              alt=""
            />
            <div class="name">Sarc칩fago</div>
          </li>
          <li>
            <img src="https://cdn.josetxu.com/img/gp-biafra-hueso.jpg" alt="" />
            <div class="name">Hueso</div>
          </li>
          <li>
            <img src="https://cdn.josetxu.com/img/gp-normal-caliz.jpg" alt="" />
            <div class="name">C치liz</div>
          </li>
          <li>
            <img src="https://cdn.josetxu.com/img/gp-cumbre-totem.jpg" alt="" />
            <div class="name">Totem</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-oscar-raul-hueco-hoces2.jpg"
              alt=""
            />
            <div class="name">Hueco de las Hoces</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-chimenea-tortuga.jpg"
              alt=""
            />
            <div class="name">Tortuga</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-gallego-cueva-mora.jpg"
              alt=""
            />
            <div class="name">Cueva de la Mora</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-blues-ojos-bonitos-tres-coronas.jpg"
              alt=""
            />
            <div class="name">Tres Coronas</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-capuchon-sarcofago.jpg"
              alt=""
            />
            <div class="name">Sarc칩fago</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-rosario-cueva-mora.jpg"
              alt=""
            />
            <div class="name">Cueva de la Mora</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-me-pesa-hasta-el-aire-dehesilla.jpg"
              alt=""
            />
            <div class="name">Risco de la Dehesilla</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-clan-de-los-osos-pandemonium.jpg"
              alt=""
            />
            <div class="name">Pandemonium</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-diedro-mezquita.jpg"
              alt=""
            />
            <div class="name">Risco de la Mezquita</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-anonima-tres-coronas.jpg"
              alt=""
            />
            <div class="name">Tres Coronas</div>
          </li>
          <li>
            <img
              src="https://cdn.josetxu.com/img/gp-tonin-rocodromo.jpg"
              alt=""
            />
          </li>
        </ul>
      </div>
    </main>
  </body>
</html>
