body {
  background-image: url(background.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.controller img {
  width: 40rem;
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}
.controller {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 16px;
    margin: 10px;
    border: none;
    cursor: pointer;
    top: 15.3rem;
    left: 27.2rem;
    background-color: transparent;
    color: aliceblue;
    width: 5.2%;
    height: 8%;
    border-radius: 0.8rem;
}

.button-forward{
    position: absolute;
    top: 5.8em;
    left: 7.22em;
}
.button-backward{
    position: absolute;
    top: 10.1rem;
    left: 7.2rem;
}
.button-left{
    position: absolute;
    width: 5.4%;
    height: 8%;
    top: 8rem;
    left: 5.2rem;
}
.button-right{
    position: absolute;
    width: 5.4%;
    height: 8%;
    top: 8rem;
    left: 9.16rem;
}

.camera{
    position: absolute;
    top: 13rem;
    left: 12rem;
    width: 5.1rem !important;    
}
.gps{
    position: absolute;
    top: 13.2rem;
    left: 23.3rem;
    width: 4rem !important;
}
.light{
    position: absolute;
    top: 8.45rem;
    left: 32.5rem;
    width: 2.5rem !important;
}
.on{
    position: absolute;
    top: 11.3rem;
    left: 29.85rem;
    width: 2.3rem !important;
}
.about{
    position: absolute;
    top: 5.8rem;
    left: 29.85rem;
    width: 2.3rem !important;
}
.cb{
    position: absolute;
    top: 7.8rem;
    left: 26.4rem;
    width: 3.8rem !important;
}

h1 {
    text-align: center;
  font-size: 5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
  color: transparent;
  -webkit-text-stroke: 3px #66d4e1;
  position: relative;
  letter-spacing: 0.2em;
}
h1::before {
    text-align: justify;
  overflow: hidden;
  position: absolute;
  content: "MATRIX MANIA";
  width: 0%;
  height: 100%;
  color: #66d4e1;
  /* border-left: 5px solid #66d4e1; */
  transition: 1s ease-in-out;
}
h1:hover::before {
    text-align: justify;
  width: 100%;
  filter: drop-shadow(0 0 25px #66d4e1);
}

