*{
	margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body{
    background-color: black;
    color: aliceblue;
    height: 100%;
    width: 100%;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px
}
#navbar{
    display: flex;
    gap: 50px;
}