{% extends "base.html" %}

{% block content %}

{% if not request.user.is_authenticated %}
<div style="margin-top: 30px;">
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit">Register</button>
        <p>Already have an account? <a href="/login/">Login</a></p>
    </form>
</div>

{% else %}
<p>You are logged in as {{ request.user.username }} and cannot register, do you want to <a href="/logout/">log out</a>?</p>

{% endif %}
{% endblock %}
