<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    This is my html file
    <%= 2+2 %> <!--javascript Code-->
    <%= text %> <!--text is coming from our index.js we have passed it while rendering

</body>
</html>