<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <h1>Random number: <%= num %></h1>
    <% if(num % 2 ===0){ %> <!-- Here tag is different -->
    <h2>That is even number!</h2>
    <% } else{ %>
    <h2>That is odd number!</h2>
    <% } %>

    <h3>
      <%= num % 2 ===0 ? 'Even' : 'Odd'%>
    </h3>
  </body>
</html>
