<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>

  <body>
    <h1>The home page <%- 4+5+1 %></h1>
    
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempora aliquam
      in totam ipsa, vel excepturi impedit minus dolorum quis? In harum est
      recusandae, tenetur nobis architecto repellendus dolore quod velit?
    </p>
  </body>
</html>
